body {
	background: #34c30a;
	margin: 5em;
}

h1 {
	color: #c30ac3;
	font-size: 5em;
}

h2 {
	color: #ea0606;
}

p {
	margin: 2em 0;
  background: #003dff;
	color: #fffb00;
	font-style: italic;
	font-size: 1.2em;
}
